.container {
    background-color: burlywood;

    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    gap: 20px;

    padding: 10px;
}

.item {
    /* width: 100%; */
    background-color: lightblue;
    padding: 20px;
}